@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

*{
    margin: 0px;
    padding: 0px;
}

#main {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body, main{
    margin: 0px;
    padding: 0px;
    background-color: #EBE3D5;
}

a{
    text-decoration: none;
}


h1{
    margin-top: 20px;
    text-align: center;
    font-family: "Prata", serif;
    color: #222831;
}

footer{
    margin-top: 10vh;
    align-items:end;
    padding: 0px;
    height: 30vh;
    background-color: #730014;
    color: white;
}

footer img{
    margin-left: 5px;
    display: block;
    height: 25vh;
}

footer h5{
    font-size: 0.8rem;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#header{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #730014;
    width: 100%;
    margin: 0 auto;
}

#header > ul, li, p{
    margin: 0px;
    font-size: 1.2rem;
    padding: 0px;
}

#header li{
    list-style-type: none;
}

#logo{
    margin: 0px;
    padding: 0px;
    height: 65px;
}

#header #navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #730014;
    color: white;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

#menu li{
    margin-left: 10px;
}

#menu a{
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}

#menu li ul{
    display: none;
    margin: 0;
}

#menu li:hover ul{
    margin: 0 auto;
    display:block;
    background-color: #EBE3D5;
    color: #730014;
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    width: 100%;
}

#menu li:hover ul li{
    padding: 5px;
}

#menu li:hover ul li:hover{
    background-color: #c2bbb0;
    margin: 0 auto;
}

#menu input{
    right: 10px;
    padding: 10px;
    border-radius: 15px;
    border-style: none;
}

.pagvinhos{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.pagvinhos .vinhoimg{ 
    text-align: center;
    height: auto;
}

.pagvinhos .vinhoimg p{
    padding: 10px;
    font-family: "Prata", serif;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5px;
}

.pagvinhos .vinhoimg img{
    height: 80vh;
    text-align: center;
    font-size: 1.5rem;
}

.descvinho{
    margin: 0px;
    padding: 0px;
}

.descvinho h5{
    font-family: "Prata", serif;
    font-size: 1.5rem;
    margin-top: 10px;
    color:#730014;
    padding: 3px;
}

.descvinho .descvinho ul, li{
    font-family: "Montserrat", sans-serif;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1rem;
    padding: 2px;
}

.preco{
    padding: 5px;
    font-size: 1.5rem;
    color:#730014
}

.comprar{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    background-color: #2d9421;
    color: white;
}

.pagvinhos .comprar p, .pagvinhos .preco p{
    font-family: "Montserrat", sans-serif;
}

.comprar:hover{
    background-color: #1a7310;
}