@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#main {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body, main{
    margin: 0px;
    padding: 0px;
    background-color: #EBE3D5;
}

a{
    text-decoration: none;
}


h1{
    margin-top: 20px;
    text-align: center;
    font-family: "Prata", serif;
    color: #222831;
}

footer{
    margin-top: 10vh;
    align-items:end;
    padding: 0px;
    height: 30vh;
    background-color: #730014;
    color: white;
}

footer img{
    margin-left: 5px;
    display: block;
    height: 25vh;
}

footer h5{
    font-size: 0.8rem;
    margin: 0 auto;
    text-align: center;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #730014;
    color: white;
    align-items: center;
}

#header > ul, li, p{
    margin: 0px;
    font-size: 1.2rem;
    padding: 0px;
}

#header li{
    list-style-type: none;
}

#logo{
    margin: 0px;
    padding: 0px;
    height: 65px;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li{
    margin-left: 10px;
}

#menu a{
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

#header input{
    justify-content: right;
    position: relative;
    float: right;
}

.pagvinhos{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.pagvinhos .vinhoimg{ 
    text-align: center;
    height: auto;
}

.pagvinhos .vinhoimg p{
    padding: 10px;
    font-family: "Prata", serif;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5px;
}

.pagvinhos .vinhoimg img{
    height: 80vh;
    text-align: center;
    font-size: 1.5rem;
}

.descvinho{
    margin: 0px;
    padding: 0px;
}

.descvinho h5{
    font-family: "Prata", serif;
    font-size: 1.5rem;
    margin-top: 10px;
    color:#730014;
    padding: 3px;
}

.descvinho .descvinho ul, li{
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1rem;
    padding: 2px;
}

.preco{
    padding: 5px;
    font-size: 1.5rem;
    color:#730014
}
